Library/
Temp/
Logs/
Assets/Asset/TextMesh Pro/
Debug/
.vs/
UserSettings/
ProjectSettings/
Assets/Plugins/
Assets/TextMesh Pro/

Plugins.meta
TextMesh Pro.meta

*.cache
*.csproj
*.sln
Server/build/
Myproject/Assets/TextMesh Pro/
Myproject/Build/
Myproject/.utmp/
Myproject/Key/user.keystore
Myproject/Assets/Resources/DOTweenSettings.asset
Myproject/Assets/Resources/DOTweenSettings.asset.meta
