Library/
Temp/
Logs/
Assets/Asset/TextMesh Pro/
Debug/
.vs/
UserSettings/
ProjectSettings/
Assets/Plugins/
Assets/TextMesh Pro/

Plugins.meta
TextMesh Pro.meta

*.cache
*.csproj
*.sln
Server/build/
My project/Assets/TextMesh Pro/
My project/Build/
My project/Assets/ExternalDependencyManager/
My project/Assets/GooglePlayGames/
My project/Assets/Plugins/
My project/Assets/ExternalDependencyManager.meta
My project/Assets/GooglePlayGames.meta
